* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    margin: 150px 0 40px 0;
    display: flex;
    flex-direction: column;
    width: 320px;
    padding: 16px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 16px;
    box-shadow: 0 30px 18px rgba(23, 28, 34, 0.10);
}

#container img {
    border-radius: 8px;
    margin-bottom: 30px;
}

.info {
    /* border: solid 1px pink; */
    width: 245px;
    margin: 0 auto 40px;
}

h3.heading {
    font-size: 20px;
    text-align: center;
    color: hsl(218, 44%, 22%);
    margin-bottom: 30px;
}

p.description {
    text-align: center;
    color: hsl(220, 15%, 55%);
}